<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>MetaMapa - Coleccion</title>
  <link rel="icon" type="image/png" href="images/metamapa-icon.png">
  <link rel="stylesheet" href="hechos.css">
</head>

<body>
  <!-- Barra de Navegacion -->
  <nav>
    <div class="header-left">
      <a href="../../index.html" class="logo">MetaMapa</a>
      <div class="buttons">
        <button class="btn" onclick="location.href='../colecciones-page/colecciones.html'">🗺️ Colecciones</button>
        <!-- Botón para crear hecho -->
        <button id="openHechoModal" class="btn">📋 Cargar Hecho</button>
      </div>
    </div>
    <button id="openLoginModal" class="btn">👤 Login</button>
  </nav>

  <!-- CARDS DE HECHOS DENTRO DE LA COLECCION -->
  <div class="grid">

    <!-- Card de Hecho -->
    <div class="card">
      <h3>Inundación en La Plata</h3>
      <p class="descripcion">Fuertes lluvias provocaron inundaciones en distintos barrios de la ciudad.</p>

      <p><strong>Categoría:</strong> Clima</p>
      <p><strong>Fecha del acontecimiento:</strong> 2013-04-02</p>
      <p><strong>Fecha de carga:</strong> 2025-08-16</p>
      <p><strong>Lugar:</strong> La Plata, Buenos Aires</p>

      <div class="meta">
        Estado: <span class="activo">Activo</span>
      </div>
      <button onclick="verHecho(10)">Ver detalle</button>
    </div>

    <div class="card">
      <h3>Inundación en La Plata</h3>
      <p class="descripcion">Fuertes lluvias provocaron inundaciones en distintos barrios de la ciudad.</p>

      <p><strong>Categoría:</strong> Clima</p>
      <p><strong>Fecha del acontecimiento:</strong> 2013-04-02</p>
      <p><strong>Fecha de carga:</strong> 2025-08-16</p>
      <p><strong>Lugar:</strong> La Plata, Buenos Aires</p>

      <div class="meta">
        Estado: <span class="activo">Activo</span>
      </div>
      <button onclick="verHecho(10)">Ver detalle</button>
    </div>

    <div class="card">
      <h3>Inundación en La Plata</h3>
      <p class="descripcion">Fuertes lluvias provocaron inundaciones en distintos barrios de la ciudad.</p>

      <p><strong>Categoría:</strong> Clima</p>
      <p><strong>Fecha del acontecimiento:</strong> 2013-04-02</p>
      <p><strong>Fecha de carga:</strong> 2025-08-16</p>
      <p><strong>Lugar:</strong> La Plata, Buenos Aires</p>

      <div class="meta">
        Estado: <span class="activo">Activo</span>
      </div>
      <button onclick="verHecho(10)">Ver detalle</button>
    </div>

    <div class="card">
      <h3>Inundación en La Plata</h3>
      <p class="descripcion">Fuertes lluvias provocaron inundaciones en distintos barrios de la ciudad.</p>

      <p><strong>Categoría:</strong> Clima</p>
      <p><strong>Fecha del acontecimiento:</strong> 2013-04-02</p>
      <p><strong>Fecha de carga:</strong> 2025-08-16</p>
      <p><strong>Lugar:</strong> La Plata, Buenos Aires</p>

      <div class="meta">
        Estado: <span class="activo">Activo</span>
      </div>
      <button onclick="verHecho(10)">Ver detalle</button>
    </div>

    <div class="card">
      <h3>Inundación en La Plata</h3>
      <p class="descripcion">Fuertes lluvias provocaron inundaciones en distintos barrios de la ciudad.</p>

      <p><strong>Categoría:</strong> Clima</p>
      <p><strong>Fecha del acontecimiento:</strong> 2013-04-02</p>
      <p><strong>Fecha de carga:</strong> 2025-08-16</p>
      <p><strong>Lugar:</strong> La Plata, Buenos Aires</p>

      <div class="meta">
        Estado: <span class="activo">Activo</span>
      </div>
      <button onclick="verHecho(5)">Ver detalle</button>
    </div>

  </div>

  <!-- Footer -->
  <footer>
    <a href="../acerca-page/acerca.html" class="footer-link">Información legal y privacidad</a>
    <p>© 2025 · <strong>Diseño de Sistemas</strong> - Grupo 5</p>
  </footer>

  <!-- Modal de Login -->
  <div id="loginModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal-header">
        <h2>Login</h2>
      </div>
      <form id="loginForm">
        <label>Email de usuario</label>
        <input type="text" name="usuario" placeholder="Ingrese su email" required>

        <label>Contraseña</label>
        <input type="password" name="password" placeholder="Ingrese su contraseña" required>

        <!-- Registrarse -->
        <div class="extra-option">
             <!-- Registrarse -->
        <div class="extra-option">
          <a href="../registro-page/registro.html" id="registerLink">Aún no tengo cuenta</a>
        </div>
        </div>

        <button type="submit" class="next-btn">Siguiente ➜</button>
      </form>
    </div>
  </div>

  <!-- Modal de Cargar Hecho -->
  <div id="hechoModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal-header">
        <h2>Cargar Hecho</h2>
      </div>
      <form id="hechoForm">
        <label>Título</label>
        <input type="text" name="titulo" placeholder="Ingrese título" required>

        <label>Descripción</label>
        <textarea name="descripcion" required></textarea>

        <label>Categoría</label>
        <input type="text" name="categoria" placeholder="Ingrese categoría" required>

        <label>Fecha del acontecimiento</label>
        <input type="date" name="fechaAcontecimiento" required>

        <label>Etiquetas</label>
        <div class="tag-input" id="tagInput">
          <input type="text" placeholder="Ej: inundación, tormenta, incendio">
        </div>

        <button type="submit" class="next-btn">Enviar</button>
      </form>
    </div>
  </div>

  <script src="hechos.js"></script>
</body>

</html>